.header {
    grid-area: h;
    background-color: rgb(21, 20, 10);
    
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: bold;
    align-items: center;
    
    

}

.header img {
    width: 70.8333px;
    border-radius: 50%;
    height: 60px;

}

.header p {
    margin-left: 60px;
}