.header {
    grid-area: h;
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: bold;
    align-items: center;
}

.header img {
    width: 70.8333px;
    /* border-radius: 50%; */
    height: 65px;
    padding: 10px;
}

.header p {
    margin-left: 60px;
}