.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;
    text-decoration: none;
}

.dialogsItems {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dialog {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.messages {
    padding: 10px;
}



.active {
    color: rgb(101, 101, 209);
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    transition: font-size .2s ease-in-out;
}